<div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
            <div class="inner">
                <h3>{{ totalCompany }}</h3>
    
                <p>Total Company</p>
            </div>
            <div class="icon">
                <i class="fa fa-briefcase"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
            <div class="inner">
                <h3>{{ totalActiveCompany }}</h3>
    
                <p>Total Active Company</p>
            </div>
            <div class="icon">
                <i class="fa fa-briefcase"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
            <div class="inner">
                <h3>{{ totalDeletedCompany }}</h3>
    
                <p>Total Inactive Company</p>
            </div>
            <div class="icon">
                <i class="fa fa-briefcase"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
    </div>

<span [ngSwitch]="crudTransaction" class="user-switch-custom">
    <app-company-list *ngSwitchCase="1" [switchCase]="1" [companyArr]="companyArr" [p]="p" [total]="total" [totalCompany]="totalCompany" (showEditForm)="fromEmit($event)"></app-company-list>
    <app-company-add *ngSwitchCase="2" [switchCase]="2" [companyArr]="companyArr" [p]="p" [total]="total" [totalCompany]="totalCompany" (showEditForm)="fromEmit($event)"></app-company-add>
    <app-company-update *ngSwitchCase="3" [switchCase]="3" [companyArr]="companyArr" [p]="p" [total]="total" [totalCompany]="totalCompany" [selectedItem]="selectedItem" [selectedIndex]="selectedIndex" (showEditForm)="fromEmit($event)"></app-company-update>
    <pagination-controls *ngSwitchCase="1" id="company-pagination" (pageChange)="pageChanged($event)" maxSize=5 previousLabel="" nextLabel=""></pagination-controls>
</span>
